{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/vars.css' %}">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="index">
    <div class="_1">
      <div class="frame-45">
        <div class="frame-44">
          <div class="podcast">Podcast</div>
        </div>
        <div class="frame-33">
          <div class="nutrition-and-mental-health">
            Nutrition and mental health.
          </div>
          <div
            class="the-food-we-eat-provide-the-nutrients-that-our-bodies-needs-to-function-properly"
          >
            The food we eat provide the nutrients that our bodies needs to
            function properly.
          </div>
        </div>
      </div>
      <img class="arrow" src="{% static 'images/arrow0.svg' %}" />
      <img class="shopping-order-delivered" src="{% static 'images/shopping-order-delivered0.png' %}" />
    </div>
    <div class="_2">
      <div class="frame-452">
        <div class="frame-44">
          <div class="live-event">Live event</div>
        </div>
        <div class="frame-332">
          <div class="healthy-habits-for-a-happy-heart">
            Healthy Habits for a happy heart
          </div>
        </div>
      </div>
      <img class="shopping-gift-cards-1" src="{% static 'images/shopping-gift-cards-10.png' %}" />
    </div>
    <div class="_3">
      <div class="frame-333">
        <div class="_01">01</div>
        <div class="years-experience">years Experience.</div>
      </div>
      <img
        class="shopping-gifting-online-gifting"
        src="{% static 'images/shopping-gifting-online-gifting0.png' %}"
      />
    </div>
    <div class="_4">
      <div class="frame-334">
        <div class="_150">150+</div>
        <div class="happy-client">Happy client.</div>
      </div>
      <img class="add-product-to-basket-1" src="{% static 'images/add-product-to-basket-10.png' %}" />
    </div>
    <div class="our-doctors-and-clinics-have-earned-over-5-reviews-on-google">
      our doctors and clinics have earned over 5+ reviews on google!
    </div>
    <a href="patientlogin">
    <div class="frame-34">
      <div class="arrow2">
        <img class="group-1" src="{% static 'images/group-10.svg' %}" />
      </div>
      <div class="patient-login">Patient login</div>
      <div class="centralize-your-diagnosis">Centralize your diagnosis</div>
      <img
        class="pngtree-patient-vector-png-image-12147251-1"
        src="{% static 'images/pngtree-patient-vector-png-image-12147251-10.png' %}"
      />
    </div>
</a>
    
<a href="doctorlogin">
    <div class="frame-32">
      <div class="frame-335">
        <div class="doctor-login">Doctor login</div>
        <div class="connect-with-your-patients-within-60-seconds">
          connect with your patients within 60 seconds
        </div>
      </div>
      <div class="arrow2">
        <img class="group-12" src="{% static 'images/group-11.svg' %}" />
      </div>
      <img class="_6686972-1" src="{% static 'images/_6686972-10.png' %}" />
    </div>
</a>
    <div class="hero-section">
      <div class="medsafe">Medsafe</div>
      <div class="all-your-medical-stuffs-on-your-finger-tip-at-1-place">
        All your medical stuffs
        <br />
        on your finger tip
        <br />
        at 1 place
      </div>
    <a href="doctorlogin">
      <div class="cta">
        <div class="book-cons">
          <div class="book-consultation">Book Consultation</div>
        </div>
        <div class="arrow3">
          <img class="group-13" src="{% static 'images/group-12.svg' %}" />
        </div>
      </div>
    </a>
      <img class="pngwing-1" src="{% static 'images/pngwing-10.png' %}" />
      <div class="frame-39">
        <div class="frame-38">
          <img class="frame-36" src="{% static 'images/frame-360.svg' %}" />
          <div class="less-hustle">Less Hustle</div>
        </div>
        <div class="frame-37">
          <div class="frame-362">
            <img class="group-3" src="{% static 'images/group-30.svg' %}" />
          </div>
          <div class="no-more-stress">no more stress</div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="munu">
        <div class="frame-29">
          <div class="healthcare-services">Healthcare Services</div>
          <img class="chevron-down" src="{% static 'images/chevron-down0.svg' %}" />
        </div>
        <div class="frame-23">
          <div class="about-us">About us</div>
        </div>
        <div class="frame-24">
          <div class="dropdown">
            <input type="checkbox" id="dropdown-toggle" class="dropdown-toggle">
            <label for="dropdown-toggle" class="login">Login</label>
            <div class="dropdown-content">
              <a href="adminlogin">Hospital</a>
              <a href="doctorlogin">Doctor</a>
              <a href="patientlogin">Patient</a>
            </div>
          </div>
          <img class="user" src="{% static 'images/user0.svg' %}" />
        </div>
      </div>
      <div class="icon-and-search-bar">
        <a href="/">
        <div class="medsafe2">Medsafe</div>
      </a>
        <img class="vector-1" src="{% static 'images/vector-10.svg' %}" />
        <div class="search-bar">
          <div class="frame-27">
            <img class="search-button" src="{% static 'images/search-button0.svg' %}" />
          </div>
          <input type="search" id="search-here" name="search-here" class="search-here" placeholder="Search Here..">
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'JS/script.js' %}"></script>  
</body>
</html>